.d-flex {
    display: flex;
}

.align {
    &-items {
        &-center {
            align-items: center;
        }
    }

    &-self-start {
        align-self: start;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.text {
    &-center {
        text-align: center;
    }

    &-blue {
        color: var(--blue);
    }
}

.ml-auto {
    margin-left: auto;
}

.mb {
    &-1 {
        margin-bottom: 0.25rem;
    }

    &-2 {
        margin-bottom: 0.5rem;
    }
}
