.d-flex {
    display: flex;
    
}

.align {
    &-self-start {
        align-self: start;
    }
}

.justify-content-between {
    justify-content: space-between;
}

.text {
    &-center {
        text-align: center;
    }
}