@import "./reset";
@import "./helpers";

:root {
    --blue: rgb(100, 145, 255);
    --blue-hover: rgb(100, 175, 255);
    --grey: rgb(197, 197, 197);
    --grey-hover: rgb(167, 167, 167);
    --red: rgb(255, 80, 80);
    --red-hover: rgb(230, 60, 60);
    --green: rgb(80, 200, 80);
    --green-hover: rgb(80, 230, 80);
}

.link {
    color: var(--blue);
    display: inline-block;
    text-decoration: underline;

    &:hover {
        color: var(--blue-hover);
    }

    &-red {
        @extend .link;
        color: var(--red);

        &:hover {
            color: var(--red-hover);
        }
    }

    &-green {
        @extend .link;
        color: var(--green);

        &:hover {
            color: var(--green-hover);
        }
    }
}

.btn {
    background-color: var(--blue);
    color: #fff;
    border-radius: 0.75rem;
    padding: 10px 16px;

    &:hover {
        background-color: var(--blue-hover);
    }

    &-red {
        @extend .btn;
        background-color: var(--red);

        &:hover {
            background-color: var(--red-hover);
        }
    }

    &-green {
        @extend .btn;
        background-color: var(--green);

        &:hover {
            background-color: var(--green-hover);
        }
    }
}

.checbox {
    display: flex;
    align-items: flex-start;

    &__icon {
        border: 1px solid var(--grey);
        border-radius: 3px;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        font-size: 8px;
        margin-top: 2px;
        margin-right: 10px;
        width: 12px;
        height: 12px;
    }

    &__input:checked + &__icon {
        background-color: var(--blue);
        border-color: var(--blue);

        &::before {
            content: "✔";
        }
    }
}

.radio {
    @extend .checbox;

    &__icon {
        border: 1px solid var(--grey);
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 10px;
        width: 12px;
        height: 12px;

        &::before {
            background-color: var(--blue);
            border-radius: 50%;
            content: "";
            position: absolute;
            opacity: 0;
            width: 7px;
            height: 7px;
        }
    }

    &__input:checked + &__icon {
        &::before {
            opacity: 1;
        }
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1280px;
}

.form {
    border: 1px solid var(--grey);
    border-radius: 0.75rem;
    padding: 20px;

    &-get {
        display: flex;
        column-gap: 10px;
        margin-bottom: 30px;

        .input {
            flex-grow: 1;
        }
    }

    &__col-2 {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    &__inputs {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        margin-bottom: 20px;
    }

    &-delete {
        column-gap: 12px;
        margin-top: 20px;
    }

    &-result {
        display: none;
        flex-direction: column;
        row-gap: 8px;
        margin-top: 30px;

        &._active {
            display: flex;
        }

        &__item {
            display: flex;
        }
    }
}

.error {
    color: rgb(250, 10, 10);
    font-size: 14px;
}

.label {
    display: flex;
    flex-direction: column;
    row-gap: 4px;

    &__title {
        font-size: 14px;
    }
}

.input {
    border: 1px solid var(--grey);
    border-radius: 0.75rem;
    padding: 10px 16px;

    &:hover,
    &:focus {
        border-color: var(--grey-hover);
    }

    &:focus {
        box-shadow: 0 0 8px -2px var(--grey);
    }
}

.select-async-search {
    position: relative;

    &__switch {
        @extend .label;
    }

    &__title {
        @extend .label__title;
    }

    &._active &__content {
        display: block;
    }

    &__content {
        background-color: #fff;
        border: 1px solid var(--grey);
        border-radius: 0.75rem;
        display: none;
        margin-top: 10px;
        padding-bottom: 1px;
        position: absolute;
        overflow: auto;
        width: 100%;
        max-height: 300px;
        z-index: 1;
    }

    &__block {
        background-color: #fff;
        padding: 10px;
        position: sticky;
        top: 0;
    }

    &__search {
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        // &:last-child {
        // }

        label {
            cursor: pointer;
            display: flex;
            font-size: 13px;
            padding: 10px 16px;

            &:hover {
                background-color: var(--grey);
                color: #fff;
            }

            &:active {
                background-color: var(--grey-hover);
                color: #fff;
            }
        }
    }
}

.table {
    border-collapse: collapse;
    white-space: nowrap;
    width: 100%;

    th {
        text-align: left;
    }

    th,
    td {
        padding: 3px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    column-gap: 10px;

    &__link {
        @extend .link;
        text-decoration: none;
    }

    &-margin {
        margin-top: 40px;
    }
}

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
    min-height: 300px;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &._active {
        display: flex;
    }

    &__inner {
        background-color: #fff;
        border-radius: 0.75rem;
        padding: 20px;
        overflow: auto;
        max-height: calc(100vh - 20px);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex-grow: 1;
    padding-bottom: 40px;
}

.header {
    margin-bottom: 40px;

    &__container {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;

        &_top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        &_bottom {
            display: flex;
            column-gap: 20px;
        }
    }

    &-folder {
        &__create {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            position: relative;
            width: 16px;

            &::before,
            &::after {
                background-color: var(--blue);
                content: "";
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 3px;
            }

            &::before {
                transform: rotate(90deg);
            }
        }

        &__list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            grid-gap: 10px;
        }

        &__item {
            border: 1px solid var(--grey);
            border-radius: 8px;
            padding: 8px;
        }
    }

    &__btn {
        font-size: 14px;
    }

    &__nav {
        display: flex;
        column-gap: 12px;

        &_item {
            font-size: 14px;
        }
    }
}

.auth {
    margin: 20vh auto 0;
    max-width: 325px;

    &__link {
        font-size: 14px;
        margin-top: 10px;
    }
}

.receipt {
    &-get {
        &__container {
            display: flex;
            align-items: flex-start;
            grid-gap: 30px 80px;
        }

        &__left {
            width: 100%;
            max-width: 250px;
        }

        &__action {
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-bottom: 20px;
        }

        &__count {
            border: 1px solid var(--grey);
            border-radius: 0.75rem;
            font-size: 14px;
            padding: 10px;
            margin-bottom: 30px;
        }

        &__filter {
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            &_bottom {
                display: flex;
                flex-direction: column;
                row-gap: 8px;
            }
        }

        &__content {
            align-self: stretch;
            flex-grow: 1;
            position: relative;
        }

        &-many-add {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(-125%);

            &__btn {
                display: flex;
                column-gap: 4px;
            }
        }

        &-details {
            &[open] &__switch {
                background-color: var(--blue);

                &::before {
                    transform: rotate(-45deg);
                    margin-bottom: 3px;
                }
            }

            &[open] &__content {
                border-color: var(--blue);
            }

            &:first-child &__switch {
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
            }

            &:last-child {
                .receipt-get-details__switch {
                    border-bottom-left-radius: 0.5rem;
                    border-bottom-right-radius: 0.5rem;
                }

                &[open] {
                    .receipt-get-details__switch {
                        border-radius: 0;
                    }

                    .receipt-get-details__content {
                        border-bottom-left-radius: 0.5rem;
                        border-bottom-right-radius: 0.5rem;
                    }
                }
            }

            &__switch {
                background-color: var(--grey);
                color: #fff;
                cursor: pointer;
                list-style: none;
                padding: 10px;

                &::before {
                    content: "";
                    border-left: 2px solid;
                    border-bottom: 2px solid;
                    border-color: #fff;
                    display: inline-block;
                    transform: rotate(-225deg);
                    margin-right: 8px;
                    width: 6px;
                    height: 6px;
                }
            }

            &__content {
                border: 1px solid;
                border-color: var(--grey);
                display: flex;
                flex-direction: column;
                row-gap: 8px;
                padding: 10px 10px 20px;
            }

            .label {
                font-size: 13px;
            }

            .input {
                border-radius: 0.5rem;
                padding: 6px 10px;
                width: 100%;
            }
        }

        &__col {
            display: flex;
            grid-gap: 20px;
        }
    }

    &-list {
        display: grid;
        align-items: start;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }

    &-item {
        border: 1px solid var(--grey);
        border-radius: 0.75rem;
        padding: 12px;
        font-size: 14px;

        &._active {
            .receipt-item {
                &__short-info {
                    display: none;
                }

                &-info {
                    display: flex;
                }

                &__more {
                    &_active {
                        display: none;
                    }

                    &_hidden {
                        display: block;
                    }
                }
            }
        }

        &__top {
            display: flex;
            column-gap: 10px;
            margin-bottom: 16px;
        }

        &__star {
            cursor: pointer;
            line-height: 0.75;
            transform: translateY(-1px);

            path {
                transition: 0.2s;
            }

            &._active {
                path {
                    fill: rgb(255, 160, 0);
                }
            }
        }

        &__action {
            display: flex;
            margin-left: auto;

            button {
                font-size: 95%;
            }
        }

        &__checkbox {
            &_input:checked + &_icon {
                color: rgb(255, 160, 0);
            }
        }

        &__more {
            font-size: 95%;

            &_hidden {
                display: none;
            }
        }

        &__center {
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 16px;
        }

        &__date {
            font-size: 14px;
            opacity: 0.75;
        }

        &__amount {
            display: flex;
            justify-content: space-between;
            margin-top: 6px;
        }

        &-info {
            display: none;
            flex-direction: column;
            row-gap: 4px;

            &__table {
                border-top: 1px solid var(--grey);
            }

            &__tr {
                border-bottom: 1px solid var(--grey);

                th,
                td {
                    padding: 6px 4px;
                }
            }

            &__total {
                display: flex;
                flex-direction: column;
                row-gap: 4px;
            }

            &__hr {
                background-color: var(--grey);
                width: 100%;
                height: 1px;
            }
        }
    }

    &__force-clear {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }
}

.okved {
    &-mutation {
        &__form {
            margin-bottom: 30px;
        }

        &-products {
            &__top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 20px;
            }
        }
    }
}

.folder {
    &-get {
        &__container {
            flex-grow: 1;
        }

        &__top {
            margin-bottom: 28px;
        }

        &__info {
            display: flex;
            grid-gap: 8px;
            margin-bottom: 16px;
        }

        &__count {
            font-size: 14px;
        }

        &__action {
            display: flex;
            align-items: center;
            column-gap: 8px;
        }

        &__client {
            .folder-get__client {
                &_name {
                    padding: 18px 0;
                }
            }

            &_name {
                position: relative;

                &_text {
                    font-size: 20px;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &_hidden {
                    cursor: default;
                    user-select: none;
                    pointer-events: none;
                    opacity: 0;
                }
            }
        }
    }
}

.modal-folders {
    &__inner {
        width: 100%;
        max-width: 300px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-bottom: 24px;
        overflow: auto;
        max-height: 700px;
    }

    &__checkbox {
        .checbox__icon {
            width: 20px;
            height: 20px;

            &::before {
                font-size: 13px;
                line-height: 1;
            }
        }

        .label__title {
            font-size: 16px;
            text-wrap: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__btn {
        width: 100%;
    }
}
